:host ::ng-deep #board {
  margin: 40px 25%;

  .row {
    display: flex;

    .column-cell {
      width: 100px;
      height: 100px;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .column-cell-hole {
        width: 90px;
        height: 90px;
        background-color: white;
        border-radius: 50%;
      }

      .yellow {
        background-color: yellow;
      }

      .blue {
        background-color: blue;
      }
    }
  }
}
